.display-2{
    color:black;
    font-size:200%;
    font-weight:bold;
    padding: 2rem;
}
.h2{
    color:rgb(5, 5, 5);
    font-weight:bold;
    font-size:150%
}
.h3{
    color:rgb(10, 7, 7);
    font-weight:600;
    font-size:120%
}
.h4{
    color:rgb(2, 1, 1);
    font-weight:500;
    font-size:100%;
}
p{
    color:black;
    font-weight:normal;
    font-size: normal;
}
li{
    color:black;
    font-weight:normal;
    font-size:normal;
}
header{
    text-align:center;
    justify-content:center;
}
.profile{
    display: flex;
    justify-content: center;
    font-size:180%;
}
@media only screen and (min-width: 600px){
    .profile{
        display:block;}
  
}

@media only screen and (min-width: 768px){
    .profile{
        display:inline-block;}
}

@media only screen and (min-width:992px){
    .profile{
        display:inline-flex;}
}        

.selfintro{
    color:rgb(0, 5, 5);
}
img{
    width:50%;
    max-width: 150%;
}
body{
    font-family:sans-serif;
    font-size: 150%;
    display:flex;
    flex-direction: column;
}
.main{
    display:flex;
    flex-direction: row;
    overflow:unset;
    padding:2rem;
}

@media only screen and (min-width:768px){
    .contents{
        display:block;}
}
@media only screen and (min-width:992px){
    .contents{
        display:inline-block;}
}
@media only screen and (max-width: 1200px){
    .contents{
        display:inline-flex;}
}


a{
    color:black;
}
a:active{
    color:red;
}
a:hover{
    color:rgb(70, 67, 255);
}
.sidebar{
    padding: 3rem;
    position: relative;
    border: 2px solid black;
}
@media only screen and (max-width: 768px){
    .sidebar{
        display:inline-block;}     
}
@media only screen and (max-width:992px){
    .sidebar{
        display:inline-block;}
}
@media only screen and (max-width: 1200px){
    .sidebar{
        display:inline-flex;}
}
#menu{
    margin-bottom:20%
}
.navmenu{
    padding:2%;
    list-style-type: disc;
    margin-top:2rem;
}
.list-unstyled{
    list-style-type: disc;
    padding:2%;
}
.icons{
    width:2rem;
    height:2rem;
  
}

.box{
    margin-top:2em;
    padding:0%;
    display:block;
}
@media only screen and (min-width: 600px){
    .box{
        display:block;}
}
@media only screen and (min-width:768px){
    .box{
        display:block;}
}
@media only screen and (min-width: 992px){
    .box{
        display:block;
        margin-bottom:10px;}
}
.contact{
    width:2rem;
    height:2rem;
}
footer{
    text-align: center;
    background-color: rgb(233, 202, 202);
    border: 3px solid black;
}
